# Environment variables
# Copy this file to .env and fill in your values

PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://academy_user:academy_password@localhost:5432/academy_db"


#ports:
#  - "5432:5432"
#environment:
#  POSTGRES_DB: academy_db
#  POSTGRES_USER: academy_user
#  POSTGRES_PASSWORD: academy_password